<div id="documents">
  <%documents.each.with_index(1) do |document, i|%>
    <%totals = calculate_registers_totals(document.registers)%>

    <div class="card">
      <div class="card-header" id="heading<%=document.id%>" data-toggle="collapse" data-target="#collapse<%=document.id%>" aria-expanded="true" aria-controls="collapse<%=document.id%>">
        <div class="row">
          <div class="col-md-5 text-left">
            <div class="document-info mb-2">
              <div class="btn-link item1">
                <%=i%>.
                <%=document.title%>
              </div>
              <div class="">
                <%=l document.event_date, format: :long, locale: 'es'%>
              </div>
            </div>
            <% if document.company.present?%>
              <div class="item1">
                Empresa:
                <%=document.company%>
              </div>
            <%end%>
            <% if document.load_type.present?%>
              <div>
                Carga:
                <%=document.load_type%>
              </div>
            <%end%>
            <% if document.load_value.present?%>
              <div>
                Valor Flete:
                <%=value_to_currency(document.load_value)%>
              </div>
            <%end%>
          </div>

          <div class="col-md-2">
            Ingresos
            <span class="<%=register_total_color(totals[:total_incoming])%> ml-auto"><%=value_to_currency(totals[:total_incoming])%></span>
          </div>
          <div class="col-md-2">
            Egresos
            <span class="<%=register_total_color(-totals[:total_outcoming])%> ml-auto"><%=value_to_currency(-totals[:total_outcoming])%></span>
          </div>
          <div class="col-md-2">
            Utilidad
            <div class="<%=register_total_color(totals[:total])%> ml-auto"><%=value_to_currency(totals[:total])%></div>
            <% if document.load_manifest.present?%>
              <div class="mt-3">
                Mto:
                <%=document.load_manifest%>
              </div>
            <%end%>
          </div>
          <div class="col-md-1">
            <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Acciones">
              <i class="material-icons md-18 align-middle">more_vert</i>
            </a>

            <div class="dropdown-menu">
              <%=link_to edit_document_path(document.id), title: 'Editar', class: "dropdown-item" do%>
                <i class="material-icons md-14 align-middle">edit</i>
                <span class="align-middle">Editar</span>
              <%end%>

              <div class="dropdown-divider"></div>
              <%=link_to document_path(document.id), title: 'Borrar', class: 'dropdown-item text-danger', data: {confirm: 'Esta seguro de eliminar este documento y todos los registros?', method: :delete} do%>
                <i class="material-icons md-14 align-middle">delete</i>
                <span class="align-middle">Borrar</span>
              <%end%>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse<%=document.id%>" class="collapse <%=document_card_state(document)%>" aria-labelledby="heading<%=document.id%>" data-parent="#documents">
        <div class="card-body">
          <div class="row-fluid">
            <%=document.description%>
            <br/>
            <%=link_to "Nuevo Registro", new_register_path(document_id: document.id) %>
          </div>
          <br/>
          <%= render partial: 'registers_table', locals: {registers: document.registers}%>
        </div>
      </div>
    </div>
  <%end%>
</div>
