<div class="registers-list">
  <div class="row col-2 delete-registers d-none mb-3">
    <%=link_to delete_multiple_registers_path, title: 'Borrar', class: 'btn btn-danger remove-all-registers', data: {confirm: 'Esta seguro de borrar todo?', method: :delete} do%>
      <i class="material-icons md-14 align-middle">delete_sweep</i>
      <span class="align-middle">Borrar</span>
    <%end%>
  </div>


  <table class="table m-0 table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center align-middle" style="width: 2%">
          <%=check_box_tag 'select_registers', "1", false, class: 'select-registers' %>
        </th>
        <th scope="col" class="text-left align-middle" style="width: 10%">Fecha</th>
        <th scope="col" class="text-left align-middle" style="width: 45%">Descripción</th>
        <th scope="col" class="text-left align-middle" style="width: 8%">Valor</th>
        <th scope="col" class="text-left align-middle" style="width: 25%">Notas</th>
        <th style="width: 10%" />
      </tr>
    </thead>
    <tbody>
      <%registers.each do |register|%>
        <tr>
          <td class="text-center align-middle">
            <%=check_box_tag 'select_registers', register.id, false, class: 'register-check-item' %>
          </td>
          <td class="align-left text-left align-middle" scope="row"><%=format_date(register.event_date)%></td>
          <td class="align-left text-left align-middle"><%=register.description%></td>
          <td class="align-left text-left align-middle <%=register_type_color(register)%>"><%=register_type_sign(register)%><%=value_to_currency(register.value)%></td>
          <td class="align-left text-left align-middle"><%=register.notes%></td>
          <td class="align-left text-center align-middle">
            <%=link_to edit_register_path(register.id, format: :js), title: 'Editar', data: {remote: true}, class: "edit-register" do%>
              <i class="material-icons">edit</i>
            <%end%>
            <%=link_to register_path(register.id), title: 'Borrar', data: {confirm: 'Esta seguro ?', method: :delete} do%>
              <i class="material-icons">delete</i>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>