<tr class="register-row">
  <td class="align-left text-left" scope="row">
    <%= f.hidden_field :document_id, :value => @document&.id || f.object.document_id %>
    <%= f.text_field :event_date, class: "form-control datepicker", placeholder: "", required: true, autocomplete: "off"%>
  </td>
  <td class="align-left text-left" scope="row">
    <%= f.label(:register_type) do %>
      <%= f.radio_button :register_type, :incoming, class: register_type_class %>
      Entrada
    <%end%>
    <%= f.label(:register_type) do %>
      <%= f.radio_button :register_type, :outcoming, class: register_type_class %>
      Gasto
    <%end%>
  </td>
  <td class="align-left text-center">
    <%= f.text_field :description, class: "form-control register-description", placeholder: "", required: true%>
  </td>
  <td class="align-left text-left">
    <%= f.text_field :value, class: "form-control register-value imask_number", placeholder: '', required: true%>
  </td>
  <td class="align-left text-center">
    <%= f.text_area :notes, rows: 1, class: "form-control", placeholder: "", required: false%>
  </td>
  <td class="align-left d-print-none">
    <div class="custom-control custom-checkbox mb-1 register-maintainable-checkbox">
      <%=f.check_box :maintainable, class: "custom-control-input check_box"%>
      <%=f.label :maintainable, "Mantenimiento?", class: "custom-control-label align-middle"%>
    </div>
    <div class="align-left mb-3 select-category">
      <%= f.select :category, category_options(f.object), {:prompt => 'Seleccionar Categoría'}, {class: "category-select2 form-control", required: false}%>
    </div>
    <div class="text-center">
      <%= link_to_remove_association f, wrapper_class: 'register-row', title: "Eliminar" do%>
        <i class="material-icons md-18 align-middle">delete</i>
      <%end%>
    </div>
  </td>
</tr>
