<%content_for :external_css do %>
  <%= render_select2_css %>
  <%= render_date_picker %>
<%end%>

<div class="row mb-3">
  <div class="col-md-3">
    <a href="<%=get_register_uri(current_vehicle)%>" class="btn btn btn-primary">
      <i class="material-icons md-18 align-middle">assignment</i>
      <span class="align-middle">Nueva Planilla</span>
    </a>
  </div>
</div>

<div class="row font-1 mb-3 totals">
  <%all_registers = @registers + @documents.map(&:registers).flatten%>
  <%totals = calculate_registers_totals(all_registers)%>

  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">monetization_on</i> Total Ingresos</h5>
        <div class="<%=register_total_color(totals[:total_incoming])%> ml-auto"><%=value_to_currency(totals[:total_incoming])%></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">money_off</i> Total Gastos</h5>
        <div class="<%=register_total_color(-totals[:total_outcoming])%> ml-auto"><%=value_to_currency(-totals[:total_outcoming])%></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">content_paste</i> Utilidad Mes</h5>
        <div class="<%=register_total_color(totals[:total])%> ml-auto"><%=value_to_currency(totals[:total])%></div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <%= render partial: 'shared/date_filter'%>

  <div class="col-md-7 text-right">
    <%if @documents.present?%>
      <a href="<%=export_documents_path(request.params.except(:action, :controller).merge(format: :xlsx))%>" class="btn btn btn-primary">
        <i class="material-icons md-18 align-middle">file_download</i>
        <span class="align-middle">Exportar</span>
      </a>
    <%else%>
      <a href="#" class="btn btn btn-primary" data-toggle="modal" data-target="#registersPrintModal">
        <i class="material-icons md-18 align-middle">print</i>
        <span class="align-middle">Imprimir</span>
      </a>
    <%end%>
  </div>
</div>

<%= render partial: 'documents', locals: {documents: @documents}%>

<%if @registers.present? && @documents.present?%>
  <hr/>
  <h5>Otros Registros:</h5>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <%= render partial: 'registers_table', locals: {registers: @registers}%>

        <%= pagy_bootstrap_nav(@pagy).html_safe if @registers.present?%>
      </div>
    </div>
  </div>
<%elsif @registers.present?%>
  <div class="table-responsive">
    <%= render partial: 'registers_table', locals: {registers: @registers}%>

    <%= pagy_bootstrap_nav(@pagy).html_safe if @registers.present?%>
  </div>
<%end%>

<%content_for :app_modals do %>
  <%= render partial: 'form_modal'%>
  <%= render partial: 'print_modal'%>
<%end%>