<%content_for :external_css do %>
  <%= render_select2_css %>
<%end%>

<div class="card-header">
  <h5 class="card-title">Nueva planilla de Registro</h5>
</div>
<div class="card">
  <div class="card-body">
    <%= form_for(current_vehicle, url: multiple_registers_path, method: :post) do |f|%>
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col" class="text-left" style="width: 14%">Fecha</th>
              <th scope="col" class="text-left" style="width: 13%">Tipo</th>
              <th scope="col" class="text-left" style="width: 20%">Descripción</th>
              <th scope="col" class="text-left" style="width: 10%">Valor</th>
              <th scope="col" class="text-left" style="width: 15%">Notas</th>
              <th class="d-print-none"></th>
            </tr>
          </thead>
          <tbody id="registers" class="">
            <%= f.fields_for :registers, @register_service.try(:registers) || current_vehicle.registers.new do |m| %>
              <%= render partial: 'register_fields', locals: {f: m}%>
            <%end%>
          </tbody>
        </table>

      </div>
      <div class="row mb-3 d-print-none">
        <div class="col-sm-6 text-right">
          <%=link_to_add_association 'Agregar Registro', f, :registers, class: "btn btn-dark", partial: 'register_fields', "data-association-insertion-node" => '#registers', "data-association-insertion-method"=>"append"%>
        </div>
        <div class="col-sm-6 text-left">
          <%=link_to 'javascript:window.print()', class: 'btn btn-info' do%>
            <i class="material-icons align-middle md-4">print</i>Imprimir
          <%end%>
        </div>
      </div>

      <div class="row font-1 mb-3 totals">
        <div class="col-md-4">
          <div class="card card-body flex-row align-items-center">
            <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">monetization_on</i> Total Ingresos</h5>
              <div class="text-success ml-auto" id="registers-incoming"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body flex-row align-items-center">
            <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">money_off</i> Total Gastos</h5>
              <div class="text-danger ml-auto" id="registers-outcoming"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body flex-row align-items-center">
            <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">content_paste</i> Total</h5>
              <div class="ml-auto" id="registers-total"></div>
          </div>
        </div>
      </div>

      <div class="row-fluid d-print-none">
        <div class="col-sm-12 text-center">
          <%= f.submit 'Guardar', class: "btn btn-primary"%>
          <%= link_to 'Cancelar', :back, class: 'btn btn-light'%>
        </div>
      </div>
    <%end%>
  </div>
</div>
