<div class="table-responsive">
  <h3 class="card-title text-uppercase mb-4"><%=current_vehicle.license_plate%></h3>

  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-left">Fecha</th>
        <th scope="col" class="text-left">Descripción</th>
        <th scope="col" class="text-left">Valor</th>
        <th scope="col" class="text-left">Notas</th>
      </tr>
    </thead>
    <tbody>
      <%@registers.each do |register|%>
        <tr class="<%=register_type_color(register) if register.register_type.eql?('outcoming')%>">
          <td class="align-left text-left" scope="row"><%=format_date(register.event_date)%></td>
          <td class="align-left text-left"><%=register.description%></td>
          <td class="align-left text-center <%=register_type_color(register)%>"><%=register_type_sign(register)%><%=value_to_currency(register.value)%></td>
          <td class="align-left text-left"><%=register.notes%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="row font-1 mb-3 totals">
  <%totals = calculate_registers_totals(@registers)%>

  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">monetization_on</i> Total Ingresos</h5>
        <div class="<%=register_total_color(totals[:total_incoming])%> ml-auto register-values"><%=value_to_currency(totals[:total_incoming])%></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">money_off</i> Total Gastos</h5>
        <div class="<%=register_total_color(-totals[:total_outcoming])%> ml-auto register-values"><%=value_to_currency(-totals[:total_outcoming])%></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-body flex-row align-items-center">
      <h5 class="m-0"><i class="material-icons align-middle text-muted md-18">content_paste</i> Total Mes</h5>
        <div class="<%=register_total_color(totals[:total])%> ml-auto register-values"><%=value_to_currency(totals[:total])%></div>
    </div>
  </div>
</div>

<div class="row mb-3 d-print-none">
  <div class="col-md-12 text-center">
    <%=link_to '', class: 'btn btn-info print-page' do%>
      <i class="material-icons align-middle md-4">print</i> Imprimir
    <%end%>
  </div>
</div>