<div class="card">
  <div class="card-header">
    <h4>Planillas Precargadas</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3 ml-1">
      <a href="<%=new_register_sketch_path%>" class="btn btn btn-primary">
        <i class="material-icons md-18 align-middle">assignment</i>
        <span class="align-middle">Nuevo</span>
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-left" style="width: 85%">Nombre</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@register_sketches.each do |sketch|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=sketch.name%></td>
              <td class="align-left text-center">
                <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Acciones">
                  <i class="material-icons md-18 align-middle">more_vert</i>
                </a>

                <div class="dropdown-menu">
                  <%=link_to register_sketch_path(sketch.id), title: 'Ver', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">visibility</i>
                    <span class="align-middle">Ver</span>
                  <%end%>
                  <%=link_to edit_register_sketch_path(sketch.id), title: 'Editar', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">edit</i>
                    <span class="align-middle">Editar</span>
                  <%end%>

                  <div class="dropdown-divider"></div>

                  <%=link_to register_sketch_path(sketch.id), title: 'Borrar', class: 'dropdown-item text-danger', data: {confirm: 'Esta seguro?', method: :delete} do%>
                    <i class="material-icons md-14 align-middle">delete</i>
                    <span class="align-middle">Borrar</span>
                  <%end%>
                </div>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>