<div class="card">
  <div class="card-header">
    <h4><%=@register_sketch.name%></h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-left" style="width: 40%">Descripción</th>
            <th scope="col" class="text-left" style="width: 10%">Valor</th>
            <th scope="col" class="text-left" style="width: 30%">Notas</th>
            <th class="d-print-none"></th>
          </tr>
        </thead>
        <tbody id="sortable-list">
          <% @register_sketch.preload_registers.each_with_index do |register, i| %>
            <tr data-id="<%= register.id %>">
              <td scope="col" class="align-middle">
                <span class="sortable-row">
                  <i class="material-icons">menu</i>
                  <%=i+1%>. <%=register.description%>
                </span>
              </td>
              <td class="align-left text-center <%=register_type_color(register)%>"><%=register_type_sign(register)%><%=value_to_currency(register.value)%></td>
              <td class="align-left text-left"><%=register.notes%></td>
              <td class="align-left text-left">
                <%=link_to edit_preload_register_path(register.id, format: :js), title: 'Editar', data: {remote: true}, class: "edit-register" do%>
                  <i class="material-icons">edit</i>
                <%end%>
                <%=link_to preload_register_path(register.id), title: 'Borrar', data: {confirm: 'Esta seguro ?', method: :delete} do%>
                  <i class="material-icons">delete</i>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>

      <div class="row-fluid d-print-none">
        <div class="col-sm-12 text-center">
          <%= link_to 'Volver', register_sketches_path, class: 'btn btn-primary'%>
        </div>
      </div>
    </div>
  </div>
</div>
<%content_for :app_modals do %>
  <div class="modal fade" id="edit-preload-register-modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>
<%end%>
