<%content_for :external_css do %>
  <%= render_select2_css %>
<%end%>

<div class="card-header">
  <h5 class="card-title">Editar Documento</h5>
</div>
<div class="card">
  <div class="card-body">
    <%= form_for(@document, url: document_path(@document.id), method: :put) do |f|%>
      <%= render partial: 'form', locals: {apply_date_to_registers: false, f: f} %>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= f.submit 'Guardar', class: "btn btn-primary"%>
          <%= link_to 'Cancelar', :back, class: 'btn btn-light'%>
        </div>
      </div>
    <%end%>
  </div>
</div>