<div class="card-header">
  <h5 class="card-title">Editar Documento</h5>
</div>
<div class="card">
  <div class="card-body">
    <%= form_for(@document, url: document_path(@document.id), method: :put) do |f|%>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="exampleFormControlInput1">Titulo</label>
            <%= f.text_field :title, class: "form-control", required: true, placeholder: "Viaje MDE - BGT"%>
        </div>
        <div class="col-md-6 mb-3">
          <label for="exampleFormControlInput1">Fecha</label>
          <%= f.text_field :event_date, class: "form-control datepicker", placeholder: "", required: true, autocomplete: "off"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="exampleFormControlInput1">Empresa</label>
            <%= f.text_field :company, class: "form-control" %>
        </div>
        <div class="col-md-6 mb-3">
          <label for="exampleFormControlInput1">Tipo de Carga</label>
          <%= f.text_field :load_type, class: "form-control", autocomplete: "on"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="exampleFormControlInput1">Descripción</label>
          <%= f.text_area :description, class: "form-control"%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= f.submit 'Guardar', class: "btn btn-primary"%>
          <%= link_to 'Cancelar', :back, class: 'btn btn-light'%>
        </div>
      </div>
    <%end%>
  </div>
</div>