<tr class="maintenance-row">
  <td class="align-left text-left" scope="row">
    <%= f.text_field :event_date, class: "form-control datepicker", placeholder: "", required: true, autocomplete: "off"%>
  </td>
  <td class="align-left text-center">
    <%= f.select :category, category_options(f.object), {:prompt => 'Seleccionar Categoría'}, {class: "category-select2 form-control", required: true}%>
  </td>
  <td class="align-left text-center">
    <%= f.text_area :description, rows: 1, class: "form-control", placeholder: "", required: true%>
  </td>
  <td class="align-left text-left">
    <%= f.number_field :value, class: "form-control", placeholder: '', required: true%>
  </td>
  <td class="align-left text-center">
    <div class="custom-control custom-checkbox">
      <%=f.check_box :registrable, class: "custom-control-input"%>
      <%=f.label :registrable, "Registrable?", class: "custom-control-label align-middle"%>
    </div>
    <%= link_to_remove_association f, wrapper_class: 'maintenance-row', title: "Eliminar" do%>
      <i class="material-icons md-18 align-middle">delete</i>
    <%end%>
  </td>
</tr>
