<%content_for :external_css do %>
  <%= render_select2_css %>
<%end%>
<div class="row mb-2">
  <div class="col-md-3">
    <a href="<%=new_maintenance_path%>" class="btn btn btn-primary">
      <i class="material-icons md-18 align-middle">assignment</i>
      <span class="align-middle">Crear Planilla</span>
    </a>
  </div>
  <div class="col-md-2">
    <a href="#" class="btn btn btn-primary" data-toggle="modal" data-target="#newMaintenanceModal">
      <i class="material-icons md-18 align-middle">build</i>
      <span class="align-middle">Agregar</span>
    </a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Mantenimientos</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-12">
        <%= form_for(:q, url: request.env['PATH_INFO'], method: :get) do |f|%>
          <div class="form-group">
            <div class="row mb-1">
              <div class="col-md-2 mb-1">
                <input type="month" id="start" onfocus="this.showPicker()" name="event_start" min="2018-03" lang="es" max="<%=(Time.now+2.month).strftime('%Y-%m')%>" value="<%=params[:event_start] || Time.now.strftime('%Y-%m')%>" class="form-control auto-submit">
              </div>

              <div class="col-md-4 mb-1">
                <%= f.select :maintenance_type_id_eq, category_options, {:prompt => 'Categoría'}, {class: "category-select2 form-control auto-submit", required: false}%>
              </div>
            </div>
          </div>
        <%end%>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-left">Fecha</th>
            <th scope="col" class="text-left">Descripción</th>
            <th scope="col" class="text-left">Valor</th>
            <th scope="col" class="text-left">Categoría</th>
            <th scope="col" class="text-left">Vehículo</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@maintenances.each do |maintenance|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=format_date(maintenance.event_date)%></td>
              <td class="align-left text-left"><%=maintenance.description%></td>
              <td class="align-left text-center"><%=value_to_currency(maintenance.value)%></td>
              <td class="align-left text-left"><%=maintenance.maintenance_type_name%></td>
              <td class="align-left text-left text-uppercase"><%=maintenance.vehicle_license_plate%></td>
              <td class="align-left text-left">
                <%=link_to maintenance_path(maintenance.id), title: maintenance.register_id.present? ? 'Borrar Todo' : 'Borrar', data: {confirm: 'Esta seguro ?', method: :delete} do%>
                  <i class="material-icons"><%=maintenance.register_id.present? ? 'delete_sweep' : 'delete'%></i>
                <%end%>
              </td>
            </tr>
          <%end%>
          <tr>
            <td class="align-left text-left" scope="row"></td>
            <td class="align-left text-center">TOTAL:</td>
            <td class="align-left text-center"><%=value_to_currency(@maintenances.map(&:value).reduce(:+))%></td>
            <td class="align-left text-left"></td>
            <td class="align-left text-left"></td>
            <td class="align-left text-left"></td>
          </tr>
        </tbody>
      </table>

      <%= pagy_bootstrap_nav(@pagy).html_safe if @maintenances.present?%>
    </div>
  </div>
</div>
<%content_for :app_modals do %>
  <%= render partial: 'form_modal'%>
<%end%>