<div class="card">
  <div class="card-header">
    <h4>Proveedores</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3 mr-1 float-right">
      <a href="<%=new_vendor_path%>" class="btn btn btn-primary">
        <i class="material-icons md-18 align-middle">store</i>
        <span class="align-middle">Nuevo</span>
      </a>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-left">Nombre</th>
            <th scope="col" class="text-left">Nombre Contacto</th>
            <th scope="col" class="text-left">Notas</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@vendors.each do |vendor|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=vendor.name%></td>
              <td class="align-left text-left"><%=vendor.contact_person%></td>
              <td class="align-left text-left"><%=vendor.notes%></td>

              <td class="align-left text-left">
                <%=link_to vendor_path(vendor.id), title: 'Ver' do%>
                  <i class="material-icons">search</i>
                <%end%>
                <%=link_to edit_vendor_path(vendor.id), title: 'Editar' do%>
                  <i class="material-icons">edit</i>
                <%end%>
                <%=link_to vendor_path(vendor.id), title: 'Borrar', data: {confirm: 'Esta seguro ?', method: :delete} do%>
                  <i class="material-icons">delete</i>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>