<div class="card">
  <div class="card-header">
    <h4>Proveedores</h4>
  </div>
  <div class="card-body">
    <div class="row mb-3 mr-1 float-right">
      <a href="<%=new_vendor_path%>" class="btn btn btn-primary">
        <i class="material-icons md-18 align-middle">store</i>
        <span class="align-middle">Nuevo</span>
      </a>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-left">Nombre</th>
            <th scope="col" class="text-left">Nombre Contacto</th>
            <th scope="col" class="text-left">Notas</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@vendors.each do |vendor|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=vendor.name%></td>
              <td class="align-left text-left"><%=vendor.contact_person%></td>
              <td class="align-left text-left"><%=vendor.notes%></td>

              <td class="align-left text-left">
                <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Acciones">
                  <i class="material-icons md-18 align-middle">more_vert</i>
                </a>

                <div class="dropdown-menu">
                  <%=link_to vendor_path(vendor.id), title: 'Ver', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">visibility</i>
                    <span class="align-middle">Ver</span>
                  <%end%>
                  <%=link_to edit_vendor_path(vendor.id), title: 'Editar', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">edit</i>
                    <span class="align-middle">Editar</span>
                  <%end%>
                  <%=link_to accounts_payables_path({q: {vendor_id_eq: vendor.id}}), title: 'Pagar', class: 'dropdown-item' do%>
                    <i class="material-icons md-14 align-middle">payment</i>
                    <span class="align-middle">Cuentas por Pagar</span>
                  <%end%>

                  <div class="dropdown-divider"></div>

                  <%=link_to vendor_path(vendor.id), title: 'Borrar', class: 'dropdown-item text-danger', data: {confirm: 'Esta seguro?', method: :delete} do%>
                    <i class="material-icons md-14 align-middle">delete</i>
                    <span class="align-middle">Borrar</span>
                  <%end%>

                </div>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>