<div class="card">
  <div class="card-header">
    <h4>Conductores</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3 mr-1 float-right">
      <a href="<%=new_driver_path%>" class="btn btn btn-primary">
          <i class="material-icons md-18 align-middle">person_add</i>
          <span class="align-middle">Agregar</span>
        </a>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-left">Nombre</th>
            <th scope="col" class="text-left">Cedula</th>
            <th scope="col" class="text-left">Celular</th>
            <th scope="col" class="text-left">Seguro</th>
            <th scope="col" class="text-left">email</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@drivers.each do |driver|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=driver.name%></td>
              <td class="align-left text-left"><%=driver.identification_id%></td>
              <td class="align-left text-left"><%=driver.mobile_number%></td>
              <td class="align-left text-left"><%=driver.insurance%></td>
              <td class="align-left text-left"><%=driver.email%></td>
              <td class="align-left text-left">
                <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Acciones">
                  <i class="material-icons md-18 align-middle">more_vert</i>
                </a>

                <div class="dropdown-menu">
                  <%=link_to driver_path(driver.id), title: 'Ver', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">visibility</i>
                    <span class="align-middle">Ver</span>
                  <%end%>
                  <%=link_to edit_driver_path(driver.id), title: 'Editar', class: "dropdown-item" do%>
                    <i class="material-icons md-14 align-middle">edit</i>
                    <span class="align-middle">Editar</span>
                  <%end%>

                  <div class="dropdown-divider"></div>

                  <%=link_to driver_path(driver.id), title: 'Borrar', class: 'dropdown-item text-danger', data: {confirm: 'Esta seguro?', method: :delete} do%>
                    <i class="material-icons md-14 align-middle">delete</i>
                    <span class="align-middle">Borrar</span>
                  <%end%>

                </div>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>