<div class="card">
  <div class="card-header">
    <h4>Conductores</h3>
  </div>
  <div class="card-body">
    <div class="row mb-3 mr-1 float-right">
      <a href="<%=new_driver_path%>" class="btn btn btn-primary">
          <i class="material-icons md-18 align-middle">person_add</i>
          <span class="align-middle">Agregar</span>
        </a>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-left">Nombre</th>
            <th scope="col" class="text-left">Cedula</th>
            <th scope="col" class="text-left">Celular</th>
            <th scope="col" class="text-left">Seguro</th>
            <th scope="col" class="text-left">email</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          <%@drivers.each do |driver|%>
            <tr>
              <td class="align-left text-left" scope="row"><%=driver.name%></td>
              <td class="align-left text-left"><%=driver.identification_id%></td>
              <td class="align-left text-left"><%=driver.mobile_number%></td>
              <td class="align-left text-left"><%=driver.insurance%></td>
              <td class="align-left text-left"><%=driver.email%></td>
              <td class="align-left text-left">
                <%=link_to driver_path(driver.id), title: 'Ver' do%>
                  <i class="material-icons">search</i>
                <%end%>
                <%=link_to edit_driver_path(driver.id), title: 'Editar' do%>
                  <i class="material-icons">edit</i>
                <%end%>
                <%=link_to driver_path(driver.id), title: 'Borrar', data: {confirm: 'Esta seguro ?', method: :delete} do%>
                  <i class="material-icons">delete</i>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>