<nav class="navbar navbar-expand-sm navbar-dark d-flex-none">
  <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
    <i class="material-icons align-middle md-36">short_text</i>
  </button>
  <div class="page-title m-0">
    <%=current_account.name%>
  </div>

  <div class="collapse navbar-collapse navbar-expand-sm" id="mainNavbar">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item nav-link">
        <%=form_tag change_vehicle_path, method: :post do %>
          <div class="form-group m-0">
            <div class="input-group input-group--inline">
              <div class="input-group-addon">
                <i class="material-icons"><%=current_account.cars_icon%></i>
              </div>
              <%=select_tag "vehicle_id", options_from_collection_for_select(user_vehicles, "id", "license_plate", current_vehicle.try(:id)), class: "text-uppercase auto-submit current-vehicle form-control"%>
              </div>
          </div>
        <%end%>
      </li>
      <li class="nav-item nav-divider">
      <li class="nav-item dropdown nav-language d-flex align-items-center">
        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-expanded="false">
          <%=current_user.full_name%>
        </a>
        <div class="dropdown-menu dropdown-menu-right ">
          <ul class="list-unstyled">
            <li>
              <a href="account.html" class="dropdown-item">
                Account
              </a>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
            </li>

            </ul>
        </div>


      </li>
    </ul>
  </div>
</nav>