<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="index.html" class="drawer-brand-circle mr-2">T</a>
      <div class="media-body">
        <a href="index.html" class="h5 m-0 text-link">Transport Admin</a>
      </div>
    </div>
  </div>

  <%if user_signed_in?%>
    <!-- HEADING -->

    <div class="d-block d-sm-none drawer-heading">
      <%=form_tag change_vehicle_path, method: :post do %>
        <div class="form-group m-0">
          <div class="input-group input-group--inline">
            <%=select_tag "vehicle_id", options_from_collection_for_select(user_vehicles, "id", "license_plate", current_vehicle.try(:id)), class: "text-uppercase auto-submit current-vehicle form-control"%>
            </div>
        </div>
      <%end%>
    </div>

    <div class="py-2 drawer-heading">
      Menu
    </div>

    <!-- MENU -->
    <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
      <li class="drawer-menu-item">
        <a href="/">
          <i class="material-icons">poll</i>
          <span class="drawer-menu-text">Inicio</span>
        </a>
      </li>
      <li class="drawer-menu-item">
        <a href="<%=vehicles_path%>">
          <i class="material-icons"><%=current_vehicle.cars_icon%></i>
          <span class="drawer-menu-text">Vehiculos</span>
        </a>
      </li>
      <li class="drawer-menu-item">
        <a href="<%=drivers_path%>">
          <i class="material-icons">account_circle</i>
          <span class="drawer-menu-text">Conductores</span>
        </a>
      </li>
      <li class="drawer-menu-item">
        <a href="<%=maintenances_path%>">
          <i class="material-icons">build</i>
          <span class="drawer-menu-text">Mantenimiento</span>
        </a>
      </li>
      <li class="drawer-menu-item">
        <a href="<%=savings_path%>">
          <i class="material-icons">attach_money</i>
          <span class="drawer-menu-text">Ahorros</span>
        </a>
      </li>
      <%if current_vehicle.truck?%>
        <li class="drawer-menu-item">
          <a href="<%=register_sketches_path%>">
            <i class="material-icons">assignment</i>
            <span class="drawer-menu-text">Planillas Precargadas</span>
          </a>
        </li>
      <%end%>

    </ul>

  <%end%>

</nav>